.hero {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 118px;
  padding-top: 118px;
  text-align: center;
  max-width: 1600px;
  background-color: $bgd-dark;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 118px;
  padding-top: 118px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/bg-main/bg-main_s.jpg");

  @include mq(retina) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("/images/bg-main/bg-main_s@2x.jpg");
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/bg-main/bg-main_m.jpg");

    @include mq(retina) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("/images/bg-main/bg-main_m@2x.jpg");
    }
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 200px;
    padding-top: 200px;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/bg-main/bg-main_l.jpg");

    @include mq(retina) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("/images/bg-main/bg-main_l@2x.jpg");
    }
  }
}

.hero__title {
  text-transform: uppercase;
  color: $title-text-color;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  @media screen and (min-width: 480px) {
    width: 360px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
    width: 604px;
  }
}
.hero__btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.86;
  letter-spacing: 0.06em;
  font-family: inherit;
  cursor: pointer;
  color: $title-text-color;
  background-color: $accent-color;

  display: inline-block;
  min-width: 73px;
  padding: 8px 30px;
  border: 1px solid $accent-color;
  margin-left: auto;
  margin-right: auto;
}
