.special {
  @media screen and (min-width: 768px) {
    display: flex;
    // тільик планшет
    flex-wrap: wrap;
  }
}

.special__item {
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);

    &:not(:nth-child(2n)) {
      margin-right: 30px;
    }

    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
  }
}

.special__item {
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.special__thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  height: 120px;
  background-color: $bgd-secondary;
  margin-bottom: 30px;
}

.special__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $secondary-text-color;
  margin-bottom: 10px;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.special__descr {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
