$primary-text-color: #757575;
$secondary-text-color: #212121;
$accent-color: #2196f3;
$title-text-color: #ffffff;
$logo-primary: #000000;
$footer-adress-color: rgba(255, 255, 255, 0.6);
$icon-main-color: #afb1b8;

$bgd-dark: #2f303a;
$bgd-main: #ffffff;
$bgd-secondary: #f5f4fa;
$bgd-border: #eeeeee;
$bgd-top-border: #ececec;
$bgd-icon-footer: #ffffff1a;

$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
